{{extend 'layout.html'}}

<div id="content">
            
      <div id="game">
          <div id="info">
            <h3>Informations</h3>
            <p>
                Money : <span id="name">{{=money}}</span><br>
            </p>        
            </div>
            
            <div id="roulette">
                <img src={{=URL('static', 'images/roulette.gif')}} alt="Roulette">
            </div>
            
            <div id="result">
                <h3>The Game</h3>
                <form action="">
                    <label for="numero" id="lnumero">Choix du numéro ( entre 0 et 49) : </label><input type="text" id="numero" name="numero" ><br>
                    <label for="mise" id="lmise">Montant de la Mise : </label><input type="text" id="mise" name="mise" ><br>
                    {{=play}}
                </form>
                <p id="wol">{{=msg}}</p>
            </div>  
      </div>
</div>
