body{
    height: 100%;
    width: 100%;
    
    background: #404040;
}

#content{
    height: 100%;
    width: 960px;
    
    position: absolute;
    top: 0px;
    left: 50%;
    
    margin-left: -480px;
    
    background: #ffffff;
}

#content #game{
    height: 330px;
    width: 580px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-top: -200px;
    margin-left: -300px;
    
    border: solid 2px #404040;
    
    padding: 10px;
}

#content #game #info h3{
    font-size: 1.8em;
    
    position: relative;
    top: -20px;    
}

#content #game #info p{
    font-size: 1.5em;
    
    position: relative;
    top: -40px; 
    left: 10px;   
}

#content #game #roulette{
    position: absolute;
    top: 45px;
    right: 100px;
    
} 

#content #game #result{
    height: 200px;
    width: 600px;
    
    position: absolute;
    bottom: 50px;
    left: 0px;
    
    background: none;
    
    text-align: center;
}

#content #game #result h3{
    font-size: 1.8em;
    
    position: absolute;
    top: 0px;
    left: 10px;
}

#content #game #result form{
    position: relative;
    top: 80px;
    left: 60px;    
}

#content #game #result form #lnumero{
    position: absolute;
    top: 0px;
    left: -30px;
}

#content #game #result form #numero{
    position: absolute;
    top: 0px;
    left: 230px;
}

#content #game #result form #lmise{
    position: absolute;
    top: 35px;
    left: 50px;
}

#content #game #result form #mise{
    position: absolute;
    top: 35px;
    left: 230px;
}

#content #game #result form #play{
    position: absolute;
    top: 70px;
    left: 170px;
}

#content #game #result #wol{
    position: relative;
    top: 140px;
    
}
