/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**** FIN RESET ****/

body{
    height: 100%;
    width: 100%;
    
    background: url("img/fond.png") repeat;
    
    margin: 0px;
    padding: 0px;
}

/**** Bandeau du haut ****/
#top{
    height: 80px;
    width: 100%;
    
    position: absolute;
    top: 0px;
    left: 0px;
    
    z-index: 100;
    
    background: #404040;
    
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
    box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
}

#top p{
    width: 250px;
    
    position: relative;
    top: 20px;
    left: 35%;
    
    margin-left: -175px;
    
    font-family: 'Aria', sans-serif;
    font-size: 1.8em;
    
    color: #FFFFFF;
    
    text-shadow: #000000 5px 5px 5px;
}
/**** fin du bandeau ****/

/*Design bloc*/
.design{
    background: #FFFFFF;    
    border: 3px solid #404040;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
    box-shadow: rgba(0,0,0,0.8) 0px 10px 20px;
}

.design header{
    height: 50px;
    width: 100%;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    background: #404040;
}

.design header p{
    color: #FFFFFF;
    font-family: 'Aria', sans-serif;
    font-size: 1.5em;
    text-shadow: #000000 5px 5px 5px;
    
    position: relative;
    top: 12px;
    left: 15px;    
}

.design .content{
    height: auto;
    width: 100%;
    
    position: relative;
    top: 0px;
    
    margin-bottom: 10px;
}

/**** Fin du Design Bloc ****/

/**** GLOBAL ****/
#global{
    height: auto;
    width: 960px;
    
    position: absolute;
    top: 80px;
    left: 50%;
    
    margin-left: -480px;
}

/**** Liste des USERS ****/
#list-users{
    height: auto;
    width: 280px;
    
    position: absolute;
    top: 40px;
    left: 0px;
    
    z-index: 90;
    
    color: #000000;
}

#list-users #users{
    width: 280px;
    height: auto;   
}

#list-users #users ul{
    width: 280px;
    height: auto;
    
    position: relative;
    top: 5px;
    left: 20px;
}

#list-users #users li{
    height: 25px;
    width: 240px;
    cursor: pointer;
    font-family: 'Aria', sans-serif;
}
/**** Fin List Users ****/

/**** Main / Formulaires / incones ****/
#main{
    height: 200px;
    width: 600px;
    
    position: absolute;
    top: 40px;
    right: 0px;
    
    z-index: 80;
}
/** icone **/
#main #shortcut{
    height: 100px;
    width: 100%;
    
    position: absolute;
    top: 0px;
    left: 0px;
    
}

#main #shortcut img{
    height: 100px;
    width: auto;
    
    float: right;
    
    margin-right: 20px;
    cursor: pointer;
}
/** Fin icone **/

/** Content Modif **/
#main #modif-user{
    height: 400px;
    width: 100%;
    
    position: absolute;
    top: 130px;
    right: 0px;
}

#main #modif-user #modif{
    height: 350px;
    width: 100%;    

    font-family: 'Arial', sans-serif;
}

#main #modif-user #modif p{
    margin: 20px;
}

#main #modif-user #modif table{
    position: relative;
    top: 0px;
    left: 30px;
}

#main #modif-user #modif table input{
    width: 200px;
}

#main #modif-user #modif table input[type="button"]{
    width: 100px;
}
/** Fin Content Modif **/

/** Content New **/
#main #new-user{    
    height: 400px;
    width: 100%;
    
    position: absolute;
    top: 130px;
    right: 0px;    
}

#main #new-user #new{
    height: 350px;
    width: 100%;
    

    font-family: 'Arial', sans-serif;
}

#main #new-user #new p{
    margin: 20px;
}

#main #new-user #new table{
    position: relative;
    top: 0px;
    left: 30px;
}

#main #new-user #new table input{
    width: 200px;
}

#main #new-user #new table input[type="button"]{
    width: 100px;
}
/** Fin content New **/