<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La Roulette</title>
    
    <!-- souci concernant les liaisons de stylesheet réglé -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}" media="screen" />
    
</head>
<body>
{{include}}
</body>
</html>
