{{extend 'layout.html'}}
<h1>Chiffres Clés</h1>

<script type="text/javascript">
var chart;
var chart2;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: true
        },
        title: {
            text: 'Top des Ventes 2011'
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Ventes 2011',
            data: [
                ['Serveurs',   45.0],
                ['PC de gamers',       26.8],
                {
                    name: 'PC de bureau',    
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Imprimantes',    8.5],
                ['Services',     6.2],
                ['Divers',   0.7]
            ]
        }]
    });
    
    chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'container2',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: true
        },
        title: {
            text: 'Nous, dans le monde ...'
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Ventes 2011',
            data: [
                ['Europe',   54.0],
                ['Amérique du Nord',       23.0],
                {
                    name: 'Asie',    
                    y: 17.0,
                    sliced: true,
                    selected: true
                },
                ['Amérique du Sud',    6.0]            
            ]
        }]
    });
});
</script>

<div id="container" height="500px" width="800px"></div>
<div id="container2" height="500px" width="800px"></div>
