{{extend 'layout.html'}}
<h1>Description</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui ut felis eleifend ornare ut vel leo. Suspendisse elementum nibh in nisi auctor eget mollis nisi vehicula. Nullam euismod magna sed odio dignissim quis malesuada quam porta. Pellentesque elementum condimentum augue, sed mollis orci cursus dignissim. Etiam ultricies adipiscing erat malesuada tincidunt. Proin sed tellus turpis. Fusce ante felis, iaculis vel fringilla ac, ornare quis felis. Donec in magna est. Vestibulum venenatis sapien eget nisi fermentum ut vulputate mi tincidunt. Fusce sit amet accumsan tellus. Etiam in ante a urna mollis sagittis vel eu nulla. Ut tristique, lacus eget ornare porta, velit nulla mattis est, quis ultricies lectus orci at ligula. 
</p>

<img src="{{=URL('static', 'img/gens.jpg')}}" alt="Nous" style="position: relative; left: 50%; margin-left: -150px;"/>
