{{extend 'layout.html'}}
<h1>Evolution</h1>

<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25
      },
      title: {
         text: 'Chiffre d\'affaire, Dépences et Bénéfices',
         x: -20 //center
      },
      xAxis: {
         categories: ['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010', '2011']
      },
      yAxis: {
         title: {
            text: 'Millions d\'Euros'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y +'M€';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Chiffre d\'affaire',
         data: [1.2, 2.5, 3.0, 2.9, 3.9, 4.3, 5.5, 7.2, 6.8, 7.3]
      }, {
         name: 'Bénéfices',
         data: [1.0, 2.1, 2.1, 2.1, 2.7, 3.4, 4.0, 4.3, 2.8, 3.0]
      }, {
         name: 'Dépences',
         data: [0.2, 0.4, 0.9, 0.8, 1.2, 0.9, 1.5, 2.9, 4.0, 4.3]
      }]
   });   
});
</script>



<div id="container" height="500px" width="100%"></div>
