{{extend 'layout.html'}}
<h1>Histoire</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sem sem, vestibulum ac aliquet a, ornare suscipit felis. Proin vel tortor bibendum odio fringilla rhoncus. Nullam et felis ac urna aliquet dapibus. Nullam ullamcorper, leo et dictum feugiat, libero massa viverra eros, bibendum dapibus mauris purus quis ipsum. Aenean interdum tempor sapien, vitae sodales turpis ornare sit amet. Integer tincidunt fringilla fringilla. Fusce varius elementum eros id porta. Mauris lacinia consequat neque, id commodo lorem aliquam ut. Vestibulum tempus pharetra ligula vel lacinia. 
</p>

<img src="{{=URL('static','img/locaux.jpg')}}" alt="Nos Locaux" style="float: left; margin: 0px 10px 5px 0px"/>

<p >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sem sem, vestibulum ac aliquet a, ornare suscipit felis. Proin vel tortor bibendum odio fringilla rhoncus. Nullam et felis ac urna aliquet dapibus. Nullam ullamcorper, leo et dictum feugiat, libero massa viverra eros, bibendum dapibus mauris purus quis ipsum. Aenean interdum tempor sapien, vitae sodales turpis ornare sit amet. Integer tincidunt fringilla fringilla. Fusce varius elementum eros id porta. Mauris lacinia consequat neque, id commodo lorem aliquam ut. Vestibulum tempus pharetra ligula vel lacinia. 
</p>


<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sem sem, vestibulum ac aliquet a, ornare suscipit felis. Proin vel tortor bibendum odio fringilla rhoncus. Nullam et felis ac urna aliquet dapibus. Nullam ullamcorper, leo et dictum feugiat, libero massa viverra eros, bibendum dapibus mauris purus quis ipsum. Aenean interdum tempor sapien, vitae sodales turpis ornare sit amet. Integer tincidunt fringilla fringilla. Fusce varius elementum eros id porta. Mauris lacinia consequat neque, id commodo lorem aliquam ut. Vestibulum tempus pharetra ligula vel lacinia. 
</p>

<img src="{{=URL('static','img/poissons.jpg')}}" alt="Nos Poissons !" style="position: relative; left: 50%; margin-left: -150px;" />
