{{extend 'layout.html'}}

<h1>Accueil</h1>

<h3>News</h3>

<!--Affichage des news de la bdd-->
{{
for row in rowNews:
    }}
    
    <article>
        {{=TAG.h4('Article ',row.id,' : ',row.title)}}
        
        {{=P(row.content)}}
    </article>


{{pass}}
